<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="InetBankingV1 Suite">

	
	<listeners>
		<listener class-name="com.inetbanking.utilities.Reporting"></listener>
	</listeners>



  <test thread-count="5" name="BankingApp Test Chrome">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.inetbanking.testCases.TC_LoginTest_001"/>
      <class name="com.inetbanking.testCases.TC_LoginDDT_002"/>
      <class name="com.inetbanking.testCases.TC_AddCustomerTest_003"/>
    </classes>
  </test> 
  
  <!--  
    <test thread-count="5" name="BankingApp Test Firefox">
  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="com.inetbanking.testCases.TC_LoginTest_001"/>
      <class name="com.inetbanking.testCases.TC_LoginDDT_002"/>
      <class name="com.inetbanking.testCases.TC_AddCustomerTest_003"/>
    </classes>
  </test> 
  -->
  
  
</suite> 
